body {
    font-family: "Times New Roman", serif;
    background-color: #15dada;
}

input[type=text],
select {
    width: 20%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 5px solid #ccc;
    border-radius: 400px;
    box-sizing: border-box;
    background-color: #f6f885;
    color: rgb(0, 68, 255);
    text-align: center;
    background-image: url("lupa.png");
    background-position: 10px 10px;
    background-repeat: no-repeat;
}

div {
    border-radius: 4;
    background-color: #ff0000;
    padding: 20px;
}

input[type=submit] {
    width: 25%;
    background-color: #dba6d0;
    color: rgb(0, 0, 0);
    padding: 2% 2% 2% 2%;
    margin-left: 10%;
    position: relative;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
}
input[type=reset] {
    width: 25%;
    background-color: #dba6d0;
    color: rgb(0, 0, 0);
    padding: 2% 2% 2% 2%;
    margin-left: 2%;
    position: relative;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;

}
input[type=reset]:hover {
    background-color: #45a049;
}
input[type=submit]:hover {
    background-color: #45a049;
}